body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #464646;
    background-color: #f4f7fa;
}

img {
    max-width: 100%;
}

a {
    color: grey;
    text-decoration: none;
}

a:link {
    color: grey;
}

a:active {
    color: grey;
}

a:visited {
    color: grey;
}

a:hover {
    color: grey;
}

h1 {
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 24px;
    line-height: 45px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

h2 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 20px;
}

p {
    margin: 0 0 10px 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    color: #464646;
    text-align: justify;
    line-height: 1.75em;
}

blockquote {
    font-family: Georgia, Times, "Times New Roman", serif !important;
    font-style: italic;
    padding-left: 20px;
    padding-right: 8px;
    margin: 0 0 15px 0;
    border-left: solid 5px #ccc;
}

blockquote>p {
    font-family: Georgia, Times, "Times New Roman", serif !important;
}

strong {
    font-weight: bolder;
}

header {
    margin: 0;
    padding: 0;
    background: #35465c;
    width: 100%;
}

section {
    margin: 0 auto;
    padding: 0;
    max-width: 1250px;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

article {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 50px;
    background: #fff !important;
    max-width: 1250px;
    max-height: 100%;
}

footer {
    background-color: #464646;
    max-width: 100%;
    height: 100%;
}

.techmaster {
    height: 60px;
    font-size: 16px;
    color: #fff;
}

.logo {
    max-width: 120px;
    float: left;
    font-size: 16px;
    margin: 13px 0 0 23px;
}

.menu1 {
    max-width: 100%;
    float: right;
    max-width: 100%;
    height: 60px;
}

.menu1>ul {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: 60px;
}

.menu1>ul>li {
    cursor: pointer;
    height: 60px;
    line-height: 4;
    list-style: none;
    float: left;
    padding: 0 15px;
}

.menu1>ul>li>a {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.menu1>ul>li:hover>a {
    color: #ccc;
}

.tieude {
    margin-bottom: 15px;
    font-size: 16px;
}

.menu {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #00000020;
}

.menu>a {
    padding: 3px;
    font-size: 70%;
    font-weight: 700;
    background-color: #e5e5e5;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin-right: 10px;
}

.noidung {
    padding: 20px;
    background: #fff !important;
    max-width: 1250px;
    max-height: 100%;
}

.anh1 {
    text-align: center;
    margin-bottom: 15px;
}

.anh1>img {
    text-align: center;
    max-width: 85%;
}

.anh2 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.anh2>img {
    text-align: center;
    max-width: 100%;
}

.anh3 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.anh3>img {
    text-align: center;
    max-width: 100%;
}

.anh4 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}

.anh4>img {
    text-align: center;
    max-width: 100%;
}

.anh5 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.anh5>img {
    text-align: center;
    max-width: 56%;
}

.anh6 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.anh6>img {
    text-align: center;
    max-width: 56%;
}

.anh7 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.anh7>img {
    text-align: center;
    max-width: 56%;
}

.anh8 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.anh8>img {
    text-align: center;
    max-width: 56%;
}

.anh9 {
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.anh9>img {
    text-align: center;
    max-width: 56%;
}

.noidungfb {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    height: 350px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.75;
    height: 100%;
}

.thongtinct {
    box-sizing: border-box;
    width: 312.5px;
    padding-top: 32px;
    padding-bottom: 12px;
    padding-right: 15px;
    padding-left: 15px;
}

.thongtinct>p {
    line-height: 30px;
    color: #919294;
    font-size: 14px;
    margin: 0 !important;
}

.thongtinct>p>a:hover {
    text-decoration: underline;
}

.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    background: #ff6b1e;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.top>a>i {
    font-size: 40px;
    color: #fff;
}